.button1 {

    -fx-border: none;

    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-background-radius: 20px; /* Arrondi du fond du bouton */
    -fx-border-radius: 20px;
    -fx-font: bold 20px "Helvetica";
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 10, 10);
    -fx-wrap-text: true;
    -fx-line-spacing: 7px;
    -fx-transition: transform 0.3s ease-in-out; /* Transition sur 'transform' */
}

.button1:hover {
    -fx-translate-x: 2px; /* Déplacer de 10px vers la droite */
    -fx-translate-y: 2px; /* Déplacer de 10px vers le bas */
}


.orange_button {
    -fx-background-color: #185ad7; /* Green */
    -fx-text-fill: white;

}

.red_button {
    -fx-background-color: #cc0002; /* Green */
    -fx-text-fill: white;
}

.purple_button {
    -fx-background-color: green;
    -fx-text-fill: white;
}

