.button{
    -fx-background-color: #04AA6D; /* Green */
    -fx-border: none;
    -fx-text-fill: white;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 20px;
    -fx-background-radius: 20px;    /* Arrondi du fond du bouton */
    -fx-border-radius: 20px;
}

.button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 60, 0, 10, 10);

}