.button1 {

    -fx-border: none;

    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-background-radius: 20px; /* Arrondi du fond du bouton */
    -fx-border-radius: 20px;
    -fx-font: bold 20px "Helvetica";
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 10, 10);
    -fx-wrap-text: true;
    -fx-line-spacing: 7px;
}

.button1:hover {
    -fx-translate-x: 8px;
    -fx-translate-y: 8px;
}

.button2 {

    -fx-border: none;

    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-background-radius: 18px; /* Arrondi du fond du bouton */
    -fx-border-radius: 20px;
    -fx-font: bold 20px "Helvetica";
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 10, 10);
    -fx-wrap-text: true;
    -fx-line-spacing: 7px;
}

.button2:hover {
    -fx-translate-x: 2px;
    -fx-translate-y: 2px;
}


.orange_button {
    -fx-background-color: orange; /* Green */
    -fx-text-fill: white;

}

.red_button {
    -fx-background-color: red; /* Green */
    -fx-text-fill: white;
}

.purple_button {
    -fx-background-color: green;
    -fx-text-fill: white;
}


.main_panneau {
    -fx-background-color: #515151; /* Fond gris */
    -fx-border-width: 0 8px 0 8px; /* Bordure uniquement à gauche et à droite */

}

.blue_main_panneau {
    -fx-border-color: transparent #2658af transparent #2658af; /* Bordure bleue sur les côtés verticaux */

}

.red_main_panneau {
    -fx-border-color: transparent #f70d1a transparent #f70d1a; /* Bordure bleue sur les côtés verticaux */
}

.dark_petit_panneau {
    -fx-background-color: #414141;
    -fx-background-radius: 20px;
}

.light_petit_panneau {
    -fx-background-color: #515151;
    -fx-background-radius: 20px;
}

.text {
    -fx-font-size: 24px;
    -fx-alignement: center;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
}

.text_font {
    -fx-font-family: "Helvetica";
}

.blue_petit_panneau {
    -fx-background-color: #3399FF;
    -fx-background-radius: 20px;

}

.red_petit_panneau {
    -fx-background-color: #f70d1a;
    -fx-background-radius: 20px;
}

.logo_panneau {
    -fx-border-width: 8px 8px 8px 8px;
    -fx-background-color: #414141;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;

}

.logo_panneau_bleu {
    -fx-border-color: #2658af #2658af #2658af #2658af;
}

.logo_panneau_rouge {
    -fx-border-color: #f70d1a #f70d1a #f70d1a #f70d1a;

}

.fond {
    -fx-background-size: cover; /* Couvre tout l'espace du conteneur */
    -fx-background-position: center center; /* Centre l'image */
    -fx-background-repeat: no-repeat; /* Ne répète pas l'image */
}

.bordure_speciale{
    -fx-border-width: 10px; /* Bordure uniquement à gauche et à droite */
    -fx-border-color: #2658af #2658af #2658af #2658af; /* Bordure bleue sur les côtés verticaux */
}

.bordure_blanche{
    -fx-border-width: 4px; /* Bordure uniquement à gauche et à droite */
    -fx-border-color: white white white white; /* Bordure bleue sur les côtés verticaux */
    -fx-border-radius: 10px;
}

.big_button{
    -fx-font: bold 40px "Helvetica";
}
.popup-overlay {
    -fx-background-color: transparent;
}

.popup-container {
    -fx-background-color: #414141;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 10, 10);
}

.popup-container .label {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-text-alignment: center; /* Centre le texte */
    -fx-wrap-text: true; /* Active le retour à la ligne */
    -fx-max-width: 250px; /* Limite la largeur du texte */
}


.blue_button {
    -fx-background-color: #4dabf7;
    -fx-text-fill: white;
}

.confirmationOverlay {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.confirmation-box {
    -fx-background-color: #2b2b2b;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-padding: 20;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
