.button1{

    -fx-border: none;
    -fx-text-fill: white;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-background-radius: 20px;    /* Arrondi du fond du bouton */
    -fx-border-radius: 20px;
    -fx-font: bold 27px "Helvetica";
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 10, 10);
    -fx-wrap-text: true;
    -fx-line-spacing: 10px;
}

.orange_button{
    -fx-background-color: orange; /* Green */

}

.red_button{
    -fx-background-color: red; /* Green */
}



.main_panneau {
    -fx-background-color: #515151;      /* Fond gris */
    -fx-border-width: 0 8px 0 8px;   /* Bordure uniquement à gauche et à droite */

}

.blue_main_panneau {
    -fx-border-color: transparent #2658af transparent #2658af;  /* Bordure bleue sur les côtés verticaux */

}

.red_main_panneau{
    -fx-border-color: transparent #f70d1a transparent #f70d1a;  /* Bordure bleue sur les côtés verticaux */
}

.dark_petit_panneau{
    -fx-background-color: #414141;
    -fx-background-radius: 20px;
}

.light_petit_panneau{
    -fx-background-color: #515151;
    -fx-background-radius: 20px;
}

.text{
    -fx-font-size: 25px;
    -fx-alignement: center;
    -fx-font-weight: bold;
}

.text_font{
    -fx-font-family: "Helvetica";
}

.blue_petit_panneau{
    -fx-background-color: #3399FF;
    -fx-background-radius: 20px;
}

.red_petit_panneau{
    -fx-background-color: #f70d1a;
    -fx-background-radius: 20px;
}

