.root {
    -fx-background-color: #FD6C9E;
}

.label {
    -fx-text-fill: #ECF0F1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

.button {
    -fx-background-color: #3498DB;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, 2);
}

.button:hover {
    -fx-background-color: #2980B9;
    -fx-cursor: hand;
    -fx-translate-y: -2;
}

.button:pressed {
    -fx-background-color: #FD6C9E;
    -fx-translate-y: 0;
}

.vbox {
    -fx-padding: 20;
}
