
.card {
    -fx-background-color: #ebcfa7;
    -fx-background-radius: 20px; /* Coins arrondis avec un rayon de 30px */
}

.card:hover {
    -fx-background-color: linear-gradient(to top right,#85e3ff, #ff6233);
    -fx-background-size: 200% 200%; /* Pour permettre à l'animation d'être visible */
    -fx-background-position: 0% 50%;
    -fx-transition: background-position 10s infinite ease-in-out;
    -fx-animation: gradientAnimation 10s ease infinite;

}
@keyframes gradientAnimation {
    0% {
        -fx-background-position: 0% 50%;
    }
    50% {
        -fx-background-position: 100% 50%;
    }
    100% {
        -fx-background-position: 0% 50%;
    }
}
.text{
    -fx-font-size: 25px;
    -fx-alignement: center;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
}


.small_rectangle {
    -fx-background-color:#ebcfa7;
    -fx-border-color: black;
    -fx-background-radius: 20px;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: #b8a282;

}
.small_rectangle2 {
    -fx-background-color: white;
}

.text_rectangle{
    -fx-background-color: white;
    -fx-border-radius: 0 0 8 8;
    -fx-background-radius: 0 0 8 8;

    /* top-left, top-right, bottom-right, and bottom-left corners, in that order. */
}

.ligne {
    -fx-stroke: #b8a282;        /* Couleur de la ligne */
    -fx-stroke-width: 1;    /* Épaisseur de la ligne */
}

