
.card {
    -fx-background-color: #ebcfa7;
    -fx-background-radius: 20px; /* Coins arrondis avec un rayon de 30px */
}

.card:hover {
    -fx-background-color: linear-gradient(to top right, #85e3ff, #ff6233);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 60, 0, 10, 10);
    /*-fx-background-image: url("../assets/card_hover.gif");*/
    -fx-background-size: cover;
    -fx-background-radius: 20px;  /* Coins arrondis */
    -fx-translate-x: 8px; /* Déplacer de 10px vers la droite */
    -fx-translate-y: 8px; /* Déplacer de 10px vers le bas */

}

@keyframes gradientAnimation {
    0% {
        -fx-background-position: 0% 50%;
    }
    50% {
        -fx-background-position: 100% 50%;
    }
    100% {
        -fx-background-position: 0% 50%;
    }
}

.text {
    -fx-font-size: 13px;
    -fx-alignement: center;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
}


.small_rectangle {
    -fx-background-color: #ebcfa7;
    -fx-border-color: black;
    -fx-background-radius: 20px;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: #b8a282;

}

.small_rectangle2 {
    -fx-background-color: white;
}

.text_rectangle {
    -fx-background-color: white;
    -fx-border-radius: 0 0 8 8;
    -fx-background-radius: 0 0 8 8;

    /* top-left, top-right, bottom-right, and bottom-left corners, in that order. */
}

.ligne {
    -fx-stroke: #b8a282; /* Couleur de la ligne */
    -fx-stroke-width: 1; /* Épaisseur de la ligne */
}

.image-view:hover {

}