.dark_petit_panneau {
    -fx-background-color: #414141;
    -fx-background-radius: 20px;
    -fx-border-color: #ffffff; /* Couleur du contour clair */
    -fx-border-width: 2px; /* Épaisseur du contour */
    -fx-border-radius: 20px; /* Même rayon que le fond pour suivre les bords arrondis */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 7); /* Ombre */
}

.darkdark_petit_panneau {
    -fx-background-color: #343434;
    -fx-background-radius: 20px;
    -fx-border-color: #ffffff; /* Couleur du contour clair */
    -fx-border-width: 2px; /* Épaisseur du contour */
    -fx-border-radius: 20px; /* Même rayon que le fond pour suivre les bords arrondis */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 7); /* Ombre */
}

.grand_rectangle_bleu {
    -fx-background-color: #0000ff; /* Bleu */
    -fx-background-radius: 30px; /* Angles arrondis */
}

.text {
    -fx-font-size: 24px;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
    -fx-text-fill: white;
}

.slider .track {
    -fx-background-color: red; /* Couleur de la piste du slider en rouge */
    -fx-background-insets: 0, 0, 0, 2; /* Ajuste l'épaisseur de la piste */
    -fx-padding: 5 0; /* Augmente la hauteur de la piste */
}

.slider .thumb {
    -fx-background-color: white; /* Couleur du bouton du slider en blanc */
    -fx-border-color: black; /* Contour noir pour contraste */
    -fx-border-width: 2px; /* Contour plus épais */
}

.red_button {
    -fx-background-color: red; /* Green */
    -fx-text-fill: white;
}

.green_button {
    -fx-background-color: green; /* Green */
    -fx-text-fill: white;
}

.red_petit_panneau {
    -fx-background-color: #f70d1a;
    -fx-background-radius: 20px;
}

.blue_petit_panneau {
    -fx-background-color: #3399FF;
    -fx-background-radius: 20px;

}

.orange_button {
    -fx-background-color: orange;
    -fx-text-fill: white;

}

.button1 {

    -fx-border: none;

    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-background-radius: 20px; /* Arrondi du fond du bouton */
    -fx-border-radius: 20px;
    -fx-font: bold 20px "Helvetica";
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 10, 10);
    -fx-wrap-text: true;
    -fx-line-spacing: 7px;
}

.button1:hover {
    -fx-translate-x: 8px; /* Déplacer de 10px vers la droite */
    -fx-translate-y: 8px; /* Déplacer de 10px vers le bas */
}

.button2 {

    -fx-border: none;

    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-background-radius: 18px; /* Arrondi du fond du bouton */
    -fx-border-radius: 20px;
    -fx-font: bold 20px "Helvetica";
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 10, 10);
    -fx-wrap-text: true;
    -fx-line-spacing: 7px;
}

.button2:hover {
    -fx-translate-x: 2px;
    -fx-translate-y: 2px;
}

.confirmationOverlay {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.confirmation-box {
    -fx-background-color: #2b2b2b;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-padding: 20;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.theme-scroll-pane {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.theme-scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.theme-scroll-pane > .scroll-bar:vertical {
    -fx-background-color: #2a2a2a;
}

.theme-scroll-pane > .scroll-bar:vertical > .thumb {
    -fx-background-color: #4a4a4a;
}


.theme-scroll-pane > .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding: 0;
}

.theme-scroll-pane > .corner {
    -fx-background-color: transparent;
}

.theme-box {
    -fx-background-color: transparent;
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-min-width: 360;
}

/* Style pour les éléments de thème */
.theme-item {
    -fx-padding: 5;
    -fx-spacing: 10;
    -fx-alignment: center-left;
    -fx-cursor: hand;
}

.theme-item:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.close_button {
    -fx-background-color: #7a31c2;
    -fx-text-fill: white;
}
